<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="stylesheet" href="/static/Styles/StyleSolarisCSS.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="JavaScript/Grafico.js"></script>
</head>
<body>
    <!-- Criação da DIV resposável pela top-box -->
    <div class="top-box">
        <nav class="menu-esquerda">
            <ul>
                <li class="dropdown">
                    <a href="#">Energia Solar <span>&#9660;</span></a> 
                    <div class="dropdown-content">
                        <a href="#info1">O que é Energia Solar?</a>
                        <a href="#info2">Como funciona a Energia Solar?</a>
                        <a href="#info3">Sustentabilidade e Meio Ambiente</a>
                        <a href="#info4">Economia com Energia Solar</a>
                        <a href="/faq">Dúvidas Frequentes</a>
                    </div>
                </li>
                <li><a href="/calculadora">Calculadora</a></li>
            </ul>
        </nav>

        <a href="/" id="logo-link">
            <img src="{{ url_for('static', filename='Img/LogoSolarisPNG.png') }}" alt="logo" class="img-logo">
        </a>

        <nav class="menu-direita">
            <ul>
                <li><a href="/sobre-nos" id="sobreNos">Sobre Nós</a></li>
                <li><a href="/consultoria-personalizada" id="cadastro">Consultoria Personalizada</a></li>
            </ul>
        </nav>
    </div>

    <div class="img-fundo2">
        <img src="{{ url_for('static', filename='Img/ImgFundoCalculadora.jpg') }}" alt="imagemfundo">
        <h1>Calculadora Solar</h1>
        <h2>Preencha os dados e veja um investimento prévio e sua economia com energia solar!!</h2>

        <div id="container-etapas"></div>
    </div>

    <script src="{{ url_for('static', filename='Js/Calculadora.js') }}" defer></script>
    <script>
        window.onload = () => {
            carregarEtapa1();
        };
    </script>



    <!-- Parte do footer puxado com JavaScript -->
    <div id="footer">
        <script src="{{ url_for('static', filename='Js/SolarisScript.js') }}" defer></script>
    </div>
    
</body>
</html>